.dropdownContainer {
  position: relative;
}

.dropdownWrapper {
  position: absolute;
  right: 0;
  width: 144px;
  height: 144px;
  padding: 12px 16px;
  border: 2px solid var(--color-boder);
}

.dropdownMenu {
  cursor: pointer;

  &:hover {
    font-weight: bolder;
    color: var(--color-cy-5);
  }
}
