.container {
  padding: 24px;
  background-color: aliceblue;
  border-radius: 12px;

  &:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 10%);
  }

  .postDate {
    color: var(--color-gray-a);
    text-align: right;
  }

  .postTitle {
    margin-bottom: 1rem;
  }

  .postContent {
    margin-bottom: 1rem;
  }

  .tagContainer {
    display: flex;
    gap: 4px;

    .tag {
      padding: 4px;
      color: var(--color-blue);
      border: 1px solid var(--color-blue);
      border-radius: 16px;
    }
  }
}
