.container {
  padding: 24px;
  background-color: var(--color-bg2);
  border-radius: 12px;

  &:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 10%);
  }

  .postDate {
    color: var(--color-text);
    text-align: right;
  }

  .postTitle {
    margin-bottom: 1rem;
    color: var(--color-primary);
  }

  .postSubtitle {
    margin-bottom: 1rem;
    color: var(--color-text);
  }

  .tagContainer {
    display: flex;
    gap: 4px;
  }
}
