.contentsWrapper {
  display: flex;
  // max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--color-bg1);

  .mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 80px 18px 0;
    overflow: auto;
    @media (width <= 768px) {
      padding-top: 16px;
    }

    .article {
      box-sizing: border-box;
      width: 100%;
      max-width: var(--width-tablet);
      padding: 0 2rem;
      margin: 4rem auto 7.5rem;
    }
  }
}
