.contentsWrapper {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--color-bg1);

  .mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 80px 18px 0;
    overflow: auto;
    @media (width <= 768px) {
      padding-top: 16px;
    }

    .article {
      width: 100%;
      max-width: var(--width-tablet);
      margin: 1rem auto 4rem;
    }
  }
}
