.overlay {
  position: fixed;
  inset: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 70%);

  .modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 600px;
    height: 530px;
    background-color: var(--color-white);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 20%);
    transform: translate(-50%, -50%);

    .exitModalBtnWrapper {
      display: flex;
      flex-direction: row-reverse;

      .exitModalBtn {
        cursor: pointer;
      }
    }

    .signinBtn {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
