.container {
  .title {
    margin-bottom: 2rem;
  }

  .modifyButtons {
    display: flex;
    justify-content: end;

    .button {
      color: var(--color-text);
      cursor: pointer;
    }
  }

  .tagWrapper {
    margin-bottom: 1rem;
  }

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
