.container {
  .title {
    margin-bottom: 1rem;
  }

  .tagWrapper {
    margin-bottom: 1rem;
  }

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
