.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 360px;
  height: 64px;
  background-color: var(--color-white);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1248px;
  height: 64px;
  padding: 0 16px;
  line-height: 52px;
  background-color: var(--color-white);
}

.title {
  font-size: 32px;
  font-weight: 900;
  color: var(--color-black);
  @media (width <= 1280px) {
    font-size: 24px;
  }
  @media (width <= 768px) {
    margin: 16px;
  }
}
