.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: var(--color-gray-h);
  border-radius: 48px;
}

.toggleContainerDark {
  background-color: var(--color-dark-blue);
}

.toggleBar {
  position: relative;
  width: 2.5rem;
  height: 1rem;
  border: 1px solid var(--color-indigo);
  border-radius: 30px;
}

.toggleBarDark {
  background-color: var(--color-dark-blue);
  border: 1px solid var(--color-mint);
  transition: 2s;
}

.toggleHandler {
  position: absolute;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-indigo);
  border-radius: 50%;
  transition: 0.5s;
  transform: translate(-10px, -50%);
}

.toggleHandlerDark {
  background-color: var(--color-mint);
  transition: 0.5s;
  transform: translate(24px, -50%);
}
